    .about-section {
  padding: 80px 5%;
  background: #faf7f2;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 18px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}
.about-title{
  color: black;
}
.about-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 38px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 17px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Responsive */
@media (max-width: 900px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    max-width: 350px;
  }
}
